/* Umfrage-Seiten */
body {  font-family: Verdana, Tahoma, sans-serif; font-size: 1em; 
        text-align: left;
        background-color: #EEF3F9;
        margin: 0;
}



form, div { margin: 0; padding: 0;}
img { margin: 0; padding: 0; border: 0px none; }
em        { color: #999; }
ul ul { font-size: 1em; } 
input,textarea,select {font-family: Verdana, Tahoma, sans-serif; font-size: 1em; ; 
	background-color: #F2F2F2; border: none;}
.button {background-color: #ffffff; margin: 6 6 6 6;
	border: #0a1f6e solid 1px; border-radius: 7px; cursor: pointer;}

table, tr, td {border-collapse: collapse; margin: 0 0 0 3;
padding: 0 8 0 8; empty-cells: show; font-size: 100%; max-width: 1024px;
border: solid 1px #642EFE; background: #EEF3F9; }
td {padding-top: 5px; padding-bottom: 3px;}



.text1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #ffffff;
	font-weight: bold;
	color: #0a1f6e;
	text-align: left
}
.text2 {
	z-index:1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #0a1f6e;
	text-align: left
}
.text3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #0a1f6e;
	text-align: left
}
.text4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-align: left
}
.text5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #0a1f6e;
	text-align: left
}.headline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #0a1f6e;
	text-align: center
}
a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #0a1f6e;
}
a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
a:hover {
	color: red;
	text-decoration: none;
}
a:active {
	color: red;
	text-decoration: none;
}



a.tooltip, a.tooltip:link, a.tooltip:visited, a.tooltip:active  {
  position: relative;
  text-decoration: none;
  font-style: italic;
  border: none;
  }

a.tooltip:hover {
  color: #0000ff;
  background: transparent;
  	text-decoration: none;
}

a.tooltip span {
  display: none;
  text-decoration: none;
}

a.tooltip:hover span {
   z-index:10;
  display: block;
  position: absolute; 
  visibility: visible;
  top: 20px;
  left: -380px;
  width: 700px;
  color: white;
  border: 1px solid #000000;
  background-color: #0a1f6e;
  font: 10px Verdana, sans-serif;
  text-align: left;
  padding: 5px;
  	text-decoration: none;
}

  #header {
        position:relative;
        z-index:1;
        top: 3px;
        left: 0px;
        right: 15px;
        height: 110px;
        padding: 0;
        margin: 0 0 6 0;
        background: #EEF3F9;
}

#headerBG {
        position:relative;
        z-index:2;
        margin: 0;
        padding: 0;
        width: 99.3%;
        background: #c00;
        height:120px;
        left: 3px;
        right: 10px;
}

#headerR2 {
        position:relative;
        z-index:3;
        padding: 0;
        margin: 0 0 0 0;
        width: 100%;
        background-image:url('../logo_mensa.png');
        background-position:right;
        background-repeat:no-repeat;
        height:102px;
        top:10px;
        right: 10px;
}


#headerR1 {


}

#headerTITEL {
        position:absolute;
        z-index:4;
        margin: 0;
        padding: 0;
        width: 100%;
        background-image:url('../logo_text_www.png');
        background-position:left;
        background-repeat:no-repeat;
        height:102px;
        top:13px;
        left: 22px;
}


#headerSLOGAN {
	padding-left: 300px;
	padding-top: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	text-align: left;
	color: #FFFFFF;
}

